@font-face {
  font-family: Livivic-SemiBold;
  src: url(../../assets/font/livivic/Livvic-SemiBold.ttf);
}

@font-face {
  font-family: Livivic-Bold;
  src: url(../../assets/font/livivic/Livvic-Bold.ttf);
}
