.app-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding-top: rem(48px);
  padding-bottom: rem(48px);
  color: $font-clr1;
  font-size: rem(18px);

  @include for-wide-layout {
    padding-top: rem(73px);
    padding-bottom: rem(73px);
  }

  .inner-header {
    display: flex;
    align-items: center;
    height: 100%;

    .logo {
      margin-right: 5rem;
    }

    .header-nav {
      display: none;

      @include for-wide-layout {
        display: flex;
        align-items: center;
        gap: rem(40px);
        flex-grow: 1;

        .contact {
          border: 2px solid $clr4;
          border-radius: 6rem;
          padding: rem(10px) 2rem;
          margin-left: auto;
        }
      }
    }
    .hamburger {
      display: initial;
      margin-left: auto;
      height: 100%;

      @include for-wide-layout {
        display: none;
      }
    }
  }
}
